/*! COMENZAR A PERSONALIZAR EL APARTADO DE -NOSOTROS- */


html {
    scroll-behavior: smooth;
}


body {
    background-color: #fee5f0;
    /* background-color: #efefef; */
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
}

.h1 {
    color: var(--carta2-color);
    text-align: center;
    font-size: 28px;
}
   

h2 {
    color: var(--carta7-color);
}

.A-Nosotros {
    display: flex;
    /* Habilita Flexbox */
    flex-direction: row-reverse;
    /* Alinea elementos en fila */
    justify-content: space-between;
    /* Espacio entre imagen y texto */
    align-items: center;
    /* Alinea verticalmente */
    gap: 15px;
    /* Espacio entre imagen y texto */
    padding: 25px;
}


.imgnosotros {
    width:90%;

    border-radius: 8px;
    filter: saturate(1.1);

}