/*! COMENZAR A PERSONALIZAR EL APARTADO DE -NOSOTROS- */


html {
    scroll-behavior: smooth;
}


body {
    background-color: #fee5f0;
    /* background-color: #efefef; */
    margin: 0;
    padding: 0;
}

.h1 {
    color: var(--carta2-color);
    text-align: center;
    font-size: 28px;
}


h2 {
    text-align: center;
    color: var(--carta7-color);
}

.A-Nosotros {
    /* max-width: 900px; */
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}



.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgnosotros {

    width:410px;
    border-radius: 8px;
    filter: saturate(1.2);

}


/* ! RESPONSIVE */

@media (max-width: 600px) {

    .A-Nosotros {
        font-size: 13px;
        padding: 0 20px;

    }

    .imgnosotros {
        width: 280px;
    }

}

