/*! COMENZAR A PERSONALIZAR EL APARTADO DE -NOSOTROS- */


html {
    scroll-behavior: smooth;
}


body {
    background-color: #fee5f0;
    /* background-color: #efefef; */
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
}

.h1 {
    color: var(--carta2-color);
    text-align: center;
    font-size: 28px;
}
   

h2 {
    color: var(--carta7-color);
}

.A-Nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Habilita Flexbox */
    /* flex-direction: row-reverse; */
    /* Alinea elementos en fila */
    /* Espacio entre imagen y texto */
   
    text-align: justify;
    /* Alinea verticalmente */
   
    /* Espacio entre imagen y texto */
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgnosotros {

    width:410px;
    border-radius: 8px;
    filter: saturate(1.2);

}


/* ! RESPONSIVE */

@media (max-width: 530px) {

    .A-Nosotros {
        font-size: 15px;
    }

    .img {
        width: 250px;
    }

}

