h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
    color: #000;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 90%;
    max-width: 1000px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 9px;
}